{% macro carousel(images) %}
  <div class="swiper">
    <div class="swiper-wrapper" style="width: 75%">
      {% for image in images %}
        <div class="swiper-slide" style="    overflow: hidden;
        height: 700px;
       max-height: 700px;
       position: relative;">
          <img class="swiper-lazy" style="display: block;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;" src="{{asset(pathArticleAttachment ~ image)}}" loading="lazy" alt="{{image}}"/>
          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
  </div>
{% endmacro %}


{% macro display_image(images) %}
  {% for image in images %}
      <a href="#" class="fancylight popup-btn" data-fancybox-group="light">
        <img src="{{ asset(pathArticleAttachment ~ image) }}" class="img_nogallery w-25">
      </a>
  {% endfor %}
  <div id="my_modal" class="modal">
    <img id="imagemodal" class="modal-content" src="">
  </div>
{% endmacro %}