{% extends 'base.html.twig' %}

{% import 'article/_macro_article.html.twig' as article_macro %}
{% block body %}
    <div class="flex flex-row">
        <!-- Conteneur pour les filtres -->
        <div class="w-1/4">
            {{ datalist_filters(articles) }}
        </div>
        <div class="w-3/4">
            <div class="flex">
                <div class="flex flex-wrap">
                    <section class="flex bg-gray-100 dark:bg-gray-800">
                        <div class="p-4 mx-auto sm:w-full lg:w-full">
                            <div class="grid grid-cols-1 gap-4 lg:gap-8 sm:gap-4 sm:grid-cols-2 lg:grid-cols-2 2xl:grid-cols-3">
                                {% for article in articles %}
                                    {{ article_macro.article_index(article) }}
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}